$primary: #E5131C;
$success: #1B8525;
$error: #E5131C;

$black01: #212121;
$black02: #5F5E5E;
$black03: #848484;

$white01: #FFFFFF;
$white02: #EDEDED;
$white03: #CFCFCF;
$white04: #B5B5B5;

$blue01: #205C7D;

$darkBlue01: #102236;
$darkBlue02: #4D5A68;

$transparent: transparent;
